* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 234, 241);
}

h1 {
  font-family: "Kaushan Script", cursive;
  color: rgb(44, 49, 142);
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 2px;
  word-spacing: 16px;
  text-align: center;
  line-height: 48px;
  margin: 26px;
}